.theme-default-content  code {
    color: #d63200;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
    white-space: nowrap;
}
.theme-default-content:not(.custom) > h2{
    margin-bottom: 15px;
}
.theme-default-content>ul{
    padding-left: 0;
}

.theme-default-content>ul>li>p:first-child{
    font-weight: bold;
}

.theme-default-content *{
    overflow: auto;
}
.theme-default-content  div[class~="language-js"]{
    margin-bottom: 15px;}
.theme-default-content  div[class~="language-js"]:before {
    content:  "点击复制"
}